# Compiled class files
*.class

# Log files
*.log


# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

# Maven specific files
target/
pom.xml.*

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db